.background {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    overflow-y: auto;
}

.form {
    position: relative;
    width: 400px;
    background-color: #fff;
    margin: auto;
    color: #000;
    border-radius: 16px;
    padding: 30px 60px 60px;
    cursor: default;
}


.cross {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
}

#select {
    border-radius: 5px;
    font-size: 16px;
    border-width: 1.7px;
    color: rgb(116, 113, 113);
    border: 1.7px solid rgb(201, 201, 201);
    padding: 5px 10px;
}

.form-data {
    display: flex;
    flex-direction: column;
}



